
.mainDivHomePage {
    display: flex;
    justify-content: space-evenly;
}

.mainDivHomePageCol1 {
    width: 400px;
    height: 500px;
    line-height: 50px;
    text-align: center;
    border: 3px solid;
    border-color: #020402;
    background-color: #252627;
    color: #C8963E;
}

.mainDivHomePageCol2 {
    width: 400px;
    line-height: 50px;
    text-align: center;
    border-color: #020402;
    background-color: #252627;
    color: #C8963E;
    border: 3px solid;
}