
.mainDivHomePage {
    display: flex;
    justify-content: space-evenly;
}

.mainDivHomePageCol1 {
    width: 400px;
    height: 500px;
    border: 3px solid;
    border-color: #020402;
    background-color: #252627;
    border-radius: 5%;
}

.mainDivHomePageCol2 {
    width: 400px;
    border-color: #020402;
    background-color: #252627;
    border: 3px solid;
    border-radius: 5%;
}

.col1text{
    text-align: center;
    color: #C8963E;
    padding-top: 50%;
}

.col2text{
    padding-top: 50%;
    text-align: center;
    color: #C8963E;
}