.deletespacebtn{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    padding: 10px 15px;
    border-color: #020402;
    border-width: 1px 1px 3px;
    border-radius: 4px;
    background-color: #252627;
    color: #C8963E;
    font-size: 0.8rem;
    outline: 0;
    cursor: pointer;
  }

  .deletespacebtn:hover {
    background-color: #020402;
    text-decoration: none;
    
  }
.roomcards{
    border: 2px solid #020402;
    border-radius: 8px;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    /* padding: 10px 19px; */
}

 